@import '../index.css';

.student-container {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
}

#student-main-head {
  background-color: var(--black);
  padding: 0.8rem 1.2rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#student-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 12.5%;
}

#details {
  margin-left: 2ch;
  font-family: var(--font-para);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  padding-inline: 2ch;
}

#details > * {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-option {
  font-family: var(--font-imp);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--black);
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: 25%;
  border: 2px solid var(--black-soft);
}

.nav-option:hover {
  cursor: pointer;
  color: var(--yellow);
  background: var(--black-soft);
  transform: translate(0, -2px);
  border: 2px solid var(--yellow);
}

.nav-option:active {
  transform: translate(0, 0);
  transition: 40ms ease-in-out;
}