@import '../index.css';

#student-parallax {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  overflow: hidden;
  background-size: 32px 32px;
  background-image: radial-gradient(var(--white-hard) 1px, transparent 0);
  z-index: 0;
  padding: 0;
  margin: 0;
}

.student-container {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#student-main-head {
  background-color: var(--black);
  padding: 0.8rem 1.2rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#student-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 12.5%;
}

#details {
  margin-left: 2ch;
  font-family: var(--font-para);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  padding-inline: 2ch;
}

#details > * {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.nav-option {
  font-family: var(--font-imp);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--black);
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: 25%;
  border: 2px solid var(--black-soft);
}

.nav-option:hover {
  cursor: pointer;
  color: var(--yellow);
  background: var(--black-soft);
  transform: translate(0, -2px);
  border: 2px solid var(--yellow);
}

.nav-option:active {
  transform: translate(0, 0);
  transition: 40ms ease-in-out;
}

#student-main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
  width: 94%;
  height: 72%;
  background-color: var(--white);
  z-index: 1;
  position: relative;
  box-shadow: 4px 4px var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
}