/*gets fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary: #AE152D;
  --blue: #2374AB;
  --yellow: #E3B505;
  --black: #1A1B25;
  --white: #E5E5E5;
  --font-imp: "Jost";
  --font-para: "Roboto Mono";
  --prim-soft: #e5dfdf;
  --black-soft: #212230;
}

::selection{
  background-color: var(--primary);
  color: var(--white);
}

#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--white);
  overflow-x: hidden;
}
  
/*PC Stuff*/

/*Tablet responsiveness*/
@media only screen and (max-device-width: 1025px){
  :root{
    font-size: 18px;
  }
}

/*Mobile responsiveness*/
@media only screen and (max-device-width: 450px){
  :root{
    font-size: 12px;
  }
}