:root {
  --primary: #AE152D;
  --blue: #266DD3;
  --green: #72B01D;
  --black: #1A1B25;
  --white: #E5E5E5;
}
  
::selection{
  background-color: var(--primary);
  color: var(--white);
}
  
body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  
  background-color: var(--black);
}
  
/*PC Stuff*/

/*Tablet responsiveness*/
@media only screen and (max-device-width: 1025px){
  :root{
    font-size: 18px;
  }
  #parallax-grid {
    display: none;
  }
  body{
    background-size: 75px 75px;
    background-image:
    linear-gradient(to right, #212230 1px, transparent 1px),
    linear-gradient(to bottom, #212230 1px, transparent 1px);
  }
}

/*Mobile responsiveness*/
@media only screen and (max-device-width: 450px){
  :root{
    font-size: 12px;
  }
}