@import "../index.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@320&display=swap');

#faculty-parallax {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 110%;
  height: 110%;
  overflow: hidden;
  background-size: 32px 32px;
  background-image: radial-gradient(var(--white-hard) 1px, transparent 0);
  z-index: 0;
  padding: 0;
  margin: 0;
}

.faculty-container {
  background-color: var(--white);
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
}

#faculty-main-head {
  background-color: var(--black);
  border-bottom: 2px solid var(--primary);
  padding: 0.8rem 1.2rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#faculty-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 12.5%;
  margin-left: 2ch;
  font-family: var(--font-para);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  gap: 1.5rem;
}

.container {
  width: 90vw;
  min-height: 50vh;
  padding: 1.5rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 3;
}



.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: "roboto mono", monospace;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary);
  width: 65%;
  margin: auto;
}

.main-content {
  display: flex;
  width: 92vw;
  height: 80vh;
  overflow-y: scroll;
  margin: auto;
  box-shadow: 4px 4px var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
  flex-direction: column;  
  background-color: var(--white);
  z-index: 2;
}

.class-container {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin: 2rem
}

.classes {
  background-color: var(--prim-soft);
  border: 1px solid var(--primary);
  box-shadow: 2px 2px var(--primary);
  font-family: var(--font-para), monospace;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}


.classes:hover{
  box-shadow: 1px 1px var(--primary);
}

.subject{
  font-size: 1.4rem;
  font-weight: 800;
  height: 40%;
  color: var(--primary);
  margin-bottom: 0.2rem;
  letter-spacing: 1px;
  text-decoration: underline;
}
.branch-label {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
}
.semester {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
}

.faculty-label {
  color: var(--black-soft);
  font-weight: 500;
  display: inline;
}

table{
  width: 90%;
  margin:2%;
  font-family: "roboto mono", monospace;
  border-spacing: 0;
  border: 2px solid var(--primary);
  border-radius: 4px;
  box-shadow: 4px 4px var(--primary);
  padding:0.5rem;
}

thead{
  border-radius: 4px;
  margin: 0;
  height: 2rem;
  font-size: large;
}

tr,th,td{
  padding: 0.5rem;
  height: 1.5rem;
  text-align: center;
}

.subject-main-content{
  display: flex;
  width: 70vw;
  height: 75vh;
  overflow-y: scroll;
  margin: auto;
  padding: 1rem;
  padding-inline: 2rem;
  box-shadow: 4px 4px var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
  flex-direction: column;  
  background-color: var(--white);
  z-index: 2;
  align-items: center;
  gap: 5%
}

.subject-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: "roboto mono", monospace;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary);
  width: 65%;
}
.subject-details{
  text-align: left;
  justify-content: start;
  align-self: self-start;
  width:80%;
  font-family: "roboto mono", monospace;
}

.branch, .sem{
  align-items: start;
  text-align: left;
  justify-content: start;
  font-size: medium;
  font-weight: 500;
  margin-left: 8%;
  font-size: large;
}
.back{
  width: 16%;
  position: absolute;
  left: 18%;
  transition: ease-in-out;
}

lord-icon{
  cursor: pointer;
}

.select{
  background-color: var(--prim-soft);
  background-size: 1rem; 
  padding-right: 2.5rem;
  border: none;
  border-bottom: 2px solid  var(--primary);
  font-family: "roboto mono", monospace;
  padding: 0.3rem;
  width: 3.2rem;
  cursor: pointer;
  font-size: medium;
  font-weight: 420;

}

.close{
  display: inline;
  color: #740f1e;
  padding: 0.3rem;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
}