@import "../index.css";


#faculty-parallax {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  overflow: hidden;
  background-size: 40px 40px;
  background-image: radial-gradient(var(--white-hard) 1.5px, transparent 0);
  z-index: 0;
}

.faculty-container {
  background-color: var(--white);
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

#faculty-main-head {
  background-color: var(--black);
  border-bottom: 2px solid var(--primary);
  padding: 0.8rem 1.2rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#faculty-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 12.5%;
  margin-left: 2ch;
  font-family: var(--font-para);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  gap: 1.5rem;
}

.container {
  width: 100vw;
  min-height: 80vh;
  padding: 1.5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 3;
}



.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: "roboto mono", monospace;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary);
  width: 65%;
  margin: auto;
}

.main-content {
  display: flex;
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  margin: auto;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 4px 4px var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
  flex-direction: column;  
  background-color: var(--white);
  z-index: 2;
}

.class-container {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  padding-top: 5%;
  padding-left: 5%;
}

.classes {
  width: 27vw;
  height: 25vh;
  border: 2px solid var(--primary);
  border-radius: 10px;
  text-align: center;
  font-family: var(--font-para);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 4px 4px var(--primary);
  align-content: center;
  font-size:x-large;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center ;
}


.classes:hover{
  box-shadow: 2px 2px var(--primary);
  transform: translate(2px,2px);
}

.subject{
  font-size: x-large;
  height: 40%;
}
.year{
  font-size: small;
}

table{
  width: 90%;
  margin:2%;
  font-family: "roboto mono", monospace;
  border-spacing: 0;
  border: 2px solid var(--primary);
  border-radius: 4px;
  box-shadow: 4px 4px var(--primary);
  padding:0.5rem;
}

thead{
  
  border-radius: 2px;
  border-radius: 4px;
  margin: 0;
  height: 2rem;
  font-size: large;
}

tr,th,td{
  padding: 0.5rem;
  height: 1.5rem;
  text-align: center;
}

.subject-main-content{
  display: flex;
  width: 70vw;
  height: 78vh;
  overflow-y: scroll;
  margin: auto;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 4px 4px var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
  flex-direction: column;  
  background-color: var(--white);
  z-index: 2;
  align-items: center;
  gap: 5%
}

.subject-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: "roboto mono", monospace;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary);
  width: 65%;
}
.subject-details{
  text-align: left;
  justify-content: start;
  align-self: self-start;
  width:80%;
  font-family: "roboto mono", monospace;
}

.branch, .sem{
  align-items: start;
  text-align: left;
  justify-content: start;
  font-size: medium;
  font-weight: 500;
  margin-left: 8%;
  font-size: large;
}
.back{
  width: 16%;
  position: fixed;
  left: 18%;
  transition: ease-in-out;
}

lord-icon{
  cursor: pointer;
}