@import "../index.css";

#parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 150vw;
  height: 100vh;
  overflow: hidden;
  background-size: 75px 75px;
  background-image:
    linear-gradient(to right, #cdcdcd 1px, transparent 1px),
    linear-gradient(to bottom, #cdcdcd 1px, transparent 1px);
  z-index: 0;
}

.faculty-container {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

#faculty-main-head {
  background-color: var(--black);
  padding: 0.8rem 1.2rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#logo {
  height: 3.6rem;
  margin-left: 2ch;
  width: auto;
}

#user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 12.5%;
  margin-left: 2ch;
  font-family: var(--font-para);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  gap: 1.5rem;
}

#logout {
  font-family: var(--font-imp);
  background-color: var(--black-soft);
  color: var(--white);
  font-size: 0.8rem;
  margin-right: 2ch;
  padding: 10px 15px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

#logout:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
}

.container {
  width: 99.7vw;
  min-height: 60vh;
  left: 0;
  margin-top: 5.1rem;
  display: flex;
  overflow-y: auto;

  padding-left: 15%;
}

.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: "roboto mono", monospace;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;

}

.main-content {
  position: absolute;
  display: flex;
  width: 70vw;
  min-height: 60vh;
  margin: auto;
  
  margin-top: 10vh;
  box-shadow: 10px 10px var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
  box-shadow: 5px 5px var(--primary);
  flex-direction: column;  
  background-color: var(--white);

}

.class-container {
  margin: auto;
  display: grid;
  width: 100%;
  min-height: 50vh;
  grid-template-columns: 1fr 1fr;
  align-items:start;
  justify-items: center;
  padding-top: 5%;
}
.classes {
  width: 25vw;
  height: 25vh;
  border: 2px solid var(--primary);
  border-radius: 10px;
  text-align: center;
  font-family: var(--font-para);
  cursor: pointer;
  box-shadow: 4px 4px var(--primary);
  margin: 10px;
  align-content: center;
  font-size:x-large;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center ;
}


.classes:hover{
  box-shadow: 2px 2px var(--primary);
  transform: translate(2px,2px);
}

.subject{
  font-size: x-large;
  height: 40%;
}
.year{
  font-size: small;

}